### Base census data pull

by james nesfield

date 5/31/2023

purpose: pull census data and park in a spark table

pull the acs for 2021 (last year published to date)

we are using the acs 5 year estimates here which projects out to 2026 which is probably more valid than the 1 year which only projects out to 2022...

variables:
- https://api.census.gov/data/2021/acs/acs1/variables.html
- https://api.census.gov/data/2021/acs/acs5/variables.html

variables to pull
- listed below in list of list definition with name in 0 element, and variable in 1st element

api call example 
```
'''
https://api.census.gov/data/2021/acs/acs5?get=B19013_001E,B01001_002E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B01001_014E,B01001_015E,B01001_016E,B01001_017E,B01001_018E,B01001_019E,B01001_020E,B01001_021E,B01001_022E,B01001_023E,B01001_024E,B01001_025E&for=zip%20code%20tabulation%20area:*

'''
```

## prep variables and api call string

In [16]:
#prep variables and api call:

census_variables = ([['median_income','B19013_001E'],
                     ['male_under_5','B01001_003E'],
                     ['male_5_to_9','B01001_004E'],
                     ['male_10_to_14','B01001_005E'],
                     ['male_15_to_17','B01001_006E'],
                     ['male_18_to_19','B01001_007E'],
                     ['male_20','B01001_008E'],
                     ['male_21','B01001_009E'],
                     ['male_22_to_24','B01001_010E'],
                     ['male_25_to_29','B01001_011E'],
                     ['male_30_to_34','B01001_012E'],
                     ['male_35_to_39','B01001_013E'],
                     ['male_40_to_44','B01001_014E'],
                     ['male_45_to_49','B01001_015E'],
                     ['male_50_to_54','B01001_016E'],
                     ['male_55_to_59','B01001_017E'],
                     ['male_60_to_61','B01001_018E'],
                     ['male_62_to_64','B01001_019E'],
                     ['male_65_to_66','B01001_020E'],
                     ['male_67_to_69','B01001_021E'],
                     ['male_70_to_74','B01001_022E'],
                     ['male_75_to_79','B01001_023E'],
                     ['male_80_to_84','B01001_024E'],
                     ['male_85_and_over','B01001_025E'],
                     ['female_under_5','B01001_027E'],
                     ['female_5_to_9','B01001_028E'],
                     ['female_10_to_14','B01001_029E'],
                     ['female_15_to_17','B01001_030E'],
                     ['female_18_to_19','B01001_031E'],
                     ['female_20','B01001_032E'],
                     ['female_21','B01001_033E'],
                     ['female_22_to_24','B01001_034E'],
                     ['female_25_to_29','B01001_035E'],
                     ['female_30_to_34','B01001_036E'],
                     ['female_35_to_39','B01001_037E'],
                     ['female_40_to_44','B01001_038E'],
                     ['female_45_to_49','B01001_039E'],
                     ['female_50_to_54','B01001_040E'],
                     ['female_55_to_59','B01001_041E'],
                     ['female_60_to_61','B01001_042E'],
                     ['female_62_to_64','B01001_043E'],
                     ['female_65_to_66','B01001_044E'],
                     ['female_67_to_69','B01001_045E'],
                     ['female_70_to_74','B01001_046E'],
                     ['female_75_to_79','B01001_047E'],
                     ['female_80_to_84','B01001_048E'],
                     ['female_85_and_over','B01001_049E']])

census_variable_filter = ''

for variable in census_variables:
    census_variable_filter += (variable[1] + ',')

print(census_variable_filter)


api_string = f'https://api.census.gov/data/2021/acs/acs5?get={census_variable_filter[:-1]}&for=zip%20code%20tabulation%20area:*'

'''
https://api.census.gov/data/2021/acs/acs5?get=B19013_001E,B01001_002E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B01001_014E,B01001_015E,B01001_016E,B01001_017E,B01001_018E,B01001_019E,B01001_020E,B01001_021E,B01001_022E,B01001_023E,B01001_024E,B01001_025E&for=zip%20code%20tabulation%20area:*

'''

print(api_string)

StatementMeta(DSETLProd, 1220, 2, Finished, Available)

B19013_001E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B01001_014E,B01001_015E,B01001_016E,B01001_017E,B01001_018E,B01001_019E,B01001_020E,B01001_021E,B01001_022E,B01001_023E,B01001_024E,B01001_025E,B01001_027E,B01001_028E,B01001_029E,B01001_030E,B01001_031E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,B01001_036E,B01001_037E,B01001_038E,B01001_039E,B01001_040E,B01001_041E,B01001_042E,B01001_043E,B01001_044E,B01001_045E,B01001_046E,B01001_047E,B01001_048E,B01001_049E,
https://api.census.gov/data/2021/acs/acs5?get=B19013_001E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B01001_014E,B01001_015E,B01001_016E,B01001_017E,B01001_018E,B01001_019E,B01001_020E,B01001_021E,B01001_022E,B01001_023E,B01001_024E,B01001_025E,B01001_027E,B01001_028E,B01001_029E,B01001_030E,B01001_031E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,B01001_036E,B01001_037E,B01001_038E,B01001_039E,B01001_040E,B01001_041E,B01001_042E,B01001_043E,B01001_044E,B01001_045E,B01001_046E,B01001_047E,B01001_048E,B01001_049E&for=zip%20code%20tabulation%20area:*

## pul data into pandas and clean

In [17]:
import pandas as pd

pdf_census_data = pd.read_json(path_or_buf=api_string).iloc[1:] 

pdf_census_data.head()

StatementMeta(DSETLProd, 1220, 3, Finished, Available)

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
1,15292,331,456,533,311,242,145,38,386,589,...,492,401,408,214,373,444,344,233,216,00601
2,18716,639,941,998,681,471,309,346,579,1275,...,1301,591,1200,536,632,1189,791,446,508,00602
3,16789,944,1087,1531,999,730,339,302,956,1699,...,1582,827,1177,620,1026,1736,1058,945,691,00603
4,18835,113,117,138,107,63,124,20,119,150,...,171,109,158,128,126,139,73,102,157,00606
5,21239,424,725,637,493,322,124,142,614,954,...,805,439,667,398,454,782,537,516,323,00610

In [18]:
# rename census_variables
variable_list = [x[0] for x in census_variables]

variable_list.append('zip_code')

pdf_census_data2 = pdf_census_data.copy()

pdf_census_data2.columns =  variable_list

pdf_census_data2.head()

StatementMeta(DSETLProd, 1220, 4, Finished, Available)

,median_income,male_under_5,male_5_to_9,male_10_to_14,male_15_to_17,male_18_to_19,male_20,male_21,male_22_to_24,male_25_to_29,...,female_55_to_59,female_60_to_61,female_62_to_64,female_65_to_66,female_67_to_69,female_70_to_74,female_75_to_79,female_80_to_84,female_85_and_over,zip_code
1,15292,331,456,533,311,242,145,38,386,589,...,492,401,408,214,373,444,344,233,216,00601
2,18716,639,941,998,681,471,309,346,579,1275,...,1301,591,1200,536,632,1189,791,446,508,00602
3,16789,944,1087,1531,999,730,339,302,956,1699,...,1582,827,1177,620,1026,1736,1058,945,691,00603
4,18835,113,117,138,107,63,124,20,119,150,...,171,109,158,128,126,139,73,102,157,00606
5,21239,424,725,637,493,322,124,142,614,954,...,805,439,667,398,454,782,537,516,323,00610

# get zip code data to build d_zip table

https://simplemaps.com/data/us-zips

the actual link is: https://simplemaps.com/static/data/us-zips/1.82/basic/simplemaps_uszips_basicv1.82.zip

In [22]:
%%sh
pwd

StatementMeta(DSETLProd, 1220, 8, Finished, Available)

/mnt/var/hadoop/tmp/nm-local-dir/usercache/trusted-service-user/appcache/application_1685553579473_0002/container_1685553579473_0002_01_000001

In [23]:
%%sh
ls

StatementMeta(DSETLProd, 1220, 9, Finished, Available)

__spark_conf__
container_tokens
default_container_executor.sh
default_container_executor_session.sh
launch_container.sh
sparkr
tmp

In [24]:
#download to ./tmp/ the files
import requests, zipfile, io
zip_file_url = 'https://simplemaps.com/static/data/us-zips/1.82/basic/simplemaps_uszips_basicv1.82.zip'

r = requests.get(zip_file_url)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall("./tmp/")

StatementMeta(DSETLProd, 1220, 10, Finished, Available)

In [25]:
%%sh
cd ./tmp/

ls

StatementMeta(DSETLProd, 1220, 11, Finished, Available)

5236932648600253191
72362814-fa62-4296-9d43-9242fff6902a_resources
liblz4-java-3880462631629198376.so
liblz4-java-3880462631629198376.so.lck
license.txt
rsc-tmp2047501945520742175
spark9221143143020192866
tmp-6080161181147902376openssl
uszips.csv
uszips.xlsx

In [26]:
import pandas as pd

pdf_zipdata = pd.read_excel('./tmp/uszips.xlsx')

StatementMeta(DSETLProd, 1220, 12, Finished, Available)

In [27]:
pdf_zipdata.head()

StatementMeta(DSETLProd, 1220, 13, Finished, Available)

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,NaN,17126.0,102.6,72001,Adjuntas,"{""72001"": 98.73, ""72141"": 1.27}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,NaN,37895.0,482.5,72003,Aguada,"{""72003"": 100}",Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,NaN,49136.0,552.4,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False,False,America/Puerto_Rico
3,606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,NaN,5751.0,50.1,72093,Maricao,"{""72093"": 82.26, ""72153"": 11.68, ""72121"": 6.06}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,NaN,26153.0,272.1,72011,Añasco,"{""72011"": 96.71, ""72099"": 2.81, ""72083"": 0.37,...",Añasco|Moca|Las Marías|Aguada,72011|72099|72083|72003,False,False,America/Puerto_Rico

In [28]:
pdf_zipdata['area'] = pdf_zipdata['population'] / pdf_zipdata['density']

StatementMeta(DSETLProd, 1220, 14, Finished, Available)

In [29]:
pdf_zipdata.head()

StatementMeta(DSETLProd, 1220, 15, Finished, Available)

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone,area
0,601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,NaN,17126.0,102.6,72001,Adjuntas,"{""72001"": 98.73, ""72141"": 1.27}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico,166.920078
1,602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,NaN,37895.0,482.5,72003,Aguada,"{""72003"": 100}",Aguada,72003,False,False,America/Puerto_Rico,78.538860
2,603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,NaN,49136.0,552.4,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False,False,America/Puerto_Rico,88.950036
3,606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,NaN,5751.0,50.1,72093,Maricao,"{""72093"": 82.26, ""72153"": 11.68, ""72121"": 6.06}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico,114.790419
4,610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,NaN,26153.0,272.1,72011,Añasco,"{""72011"": 96.71, ""72099"": 2.81, ""72083"": 0.37,...",Añasco|Moca|Las Marías|Aguada,72011|72099|72083|72003,False,False,America/Puerto_Rico,96.115399

In [30]:
#zip code as 5 digit with leading 0s
pdf_zipdata['zip'] = pdf_zipdata['zip'].astype(str).str.zfill(5)

StatementMeta(DSETLProd, 1220, 16, Finished, Available)

In [31]:
pdf_zipdata.head()

StatementMeta(DSETLProd, 1220, 17, Finished, Available)

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone,area
0,00601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,NaN,17126.0,102.6,72001,Adjuntas,"{""72001"": 98.73, ""72141"": 1.27}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico,166.920078
1,00602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,NaN,37895.0,482.5,72003,Aguada,"{""72003"": 100}",Aguada,72003,False,False,America/Puerto_Rico,78.538860
2,00603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,NaN,49136.0,552.4,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False,False,America/Puerto_Rico,88.950036
3,00606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,NaN,5751.0,50.1,72093,Maricao,"{""72093"": 82.26, ""72153"": 11.68, ""72121"": 6.06}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico,114.790419
4,00610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,NaN,26153.0,272.1,72011,Añasco,"{""72011"": 96.71, ""72099"": 2.81, ""72083"": 0.37,...",Añasco|Moca|Las Marías|Aguada,72011|72099|72083|72003,False,False,America/Puerto_Rico,96.115399

In [33]:
pdf_zipdata.dtypes

StatementMeta(DSETLProd, 1220, 19, Finished, Available)

zip                  object
lat                 float64
lng                 float64
city                 object
state_id             object
state_name           object
zcta                   bool
parent_zcta         float64
population          float64
density             float64
county_fips           int64
county_name          object
county_weights       object
county_names_all     object
county_fips_all      object
imprecise              bool
military               bool
timezone             object
area                float64
dtype: object

In [34]:
pdf_zipdata['county_fips_all'].unique

StatementMeta(DSETLProd, 1220, 20, Finished, Available)

<bound method Series.unique of 0                    72001|72141
1                          72003
2                    72005|72099
3              72093|72153|72121
4        72011|72099|72083|72003
                  ...
33783                       2198
33784                       2198
33785                       2198
33786                       2198
33787                       2275
Name: county_fips_all, Length: 33788, dtype: object>

In [35]:
#force d type to string since the col may be a set of values separated by pipe 
# we can deal with this later via string manipulation if we actually need it....
pdf_zipdata['county_fips_all'] = pdf_zipdata['county_fips_all'].astype(str)

StatementMeta(DSETLProd, 1220, 21, Finished, Available)